body {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.navbar-brand  {
    color:#F1EEE9;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 5rem;
}

.navbar-nav {
    font-family:'Times New Roman', Times, serif;
}

.Main{
    padding: 3% 10%;
}

.main-image{
    width: 100%;
}

.main-text {
    padding: 10%;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}

.fun-img {
    width: 60%;
}

#Hero {
    color: #F1EEE9;
    background-color: #15133C;;
}

#Function {
    text-align: center;
    background-color: #EC994B;
    font-family:'Times New Roman', Times, serif;
}

#Sites {
    text-align: center;
    color: #F1EEE9;
    background-color: #15133C;
    padding: 5%;
    font-family:'Times New Roman', Times, serif;
}

.card {
    margin: 5%;
    text-align: left;
    color: black;
    font-family:'Times New Roman', Times, serif;
}

#Reviews
{
    background-color: #EC994B;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.garfil-img {
    width: 10%;
    border-radius: 100%;
}

.Site-Reviews {
    padding: 7% 15%;
}

.social-icons{
    color:#F1EEE9;
    margin: 5%;
}

#Footer {
    color: #F1EEE9;
    text-align: center;
    padding: 7% 15%;
    background-color: #15133C;
    font-family:'Times New Roman', Times, serif;
}

.carousel-item {
    padding: 7% 15%;
}